@model Almacenista.Models.Envios

@{
    ViewBag.Title = "Editar Fecha de Envío";
    Layout = "~/Views/Shared/_LayoutAlmacenista.cshtml";
}

<h2>Actualizar Fecha de Envío, Paquetería y Número de Guía</h2>

<style>

    .btn-primary > a {
        text-decoration: none;
        color: white;
    }

    .btn-warning > a {
        text-decoration: none;
        color: white;
    }

    .btn-danger > a {
        text-decoration: none;
        color: white;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="panel panel-warning">
    <div class="panel-heading">
        <h4>Envíos</h4>
    </div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_envio)

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.LabelFor(model => model.id_envio, "Número de Orden", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.id_envio, new { @class = "form-control", @Value = Model.id_envio, @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.id_envio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.LabelFor(model => model.contacto, "Contacto", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.contacto, new { @class = "form-control", @Value = Model.contacto, @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.contacto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.LabelFor(model => model.numero_guia, "Número de Guía", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.numero_guia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numero_guia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.LabelFor(model => model.direccion, "Dirección", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.direccion, new { @class = "form-control", @Value = Model.direccion, @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.LabelFor(model => model.estatus, "Estado:", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-2">
                    @Html.RadioButtonFor(model => model.estatus, "1")<label for="1">Enviado</label>
                    @Html.ValidationMessageFor(model => model.estatus, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.RadioButtonFor(model => model.estatus, "0")<label for="0">No Enviado</label>
                    @Html.ValidationMessageFor(model => model.estatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.LabelFor(model => model.fecha_envio, "Fecha de Envío", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.fecha_envio, new { @type = "date", @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.fecha_envio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.LabelFor(model => model.fecha_entrega, "Fecha de Entrega", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.fecha_entrega, new { @class = "form-control", @Value = Model.fecha_entrega, @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.fecha_entrega, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.LabelFor(model => model.id_paqueteria, "Paquetería", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-8">
                    @Html.DropDownList("id_paqueteria", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_paqueteria, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <button type="submit" value="Save" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Actualizar</button>
            </div>
        </div>
    </div>
            </div>
    }

<div class="text-center">
    <span>
        <button class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-backward"></span>@Html.ActionLink("Ver Envíos", "Index")
        </button>
    </span>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
